{% extends 'main.html' %}

{% block content %}
    {% for post in object_list %}
        <p>{{ post.title }}</p>
        <a href="{{ post.get_absolute_url }}">DDDD</a>
    {% endfor %}

    {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a href="/posts/{{ page_obj.previous_page_number }}/">&larr;</a>
        {% endif %}
        <span class="current_page">{{ paginator.number }}</span>
        {% if page_obj.has_next %}
            <a href="/posts/{{ page_obj.next_page_number }}/">&rarr;</a>
        {% endif %}
    {% endif %}

{% endblock %}