{% extends "base.html" %}

{% load post_extras %}

{% block second_menu %}
    {% include 'posts/second_menu.html' %}
{% endblock second_menu %}

{% block content %}
    <div class="col-md-8">
        {% for group in object_list|group_by:2 %}
            <div class="row">
                {% for obj in group %}
                    <div class="col-md-6">
                        <img src="{{obj.photo.first.image.url}}" alt="{{ odj.photo.first.description }}" class="img-rounded " id="image-list-size">
                        <a href="{{ obj.get_absolute_url }}"><h1>{{ obj.title }}</h1></a>
                        <div class="text-justify">
                            {{ obj.text|safe|truncatechars:300 }}
                        </div>
                        {{ obj.publish_date|date }}
                        <a href="{{ obj.get_absolute_url }}">Читати</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}