<div class="card">
    <div class="card-header">
        <h4 class="text-success">Новини</h4>
    </div>
    <div class="card-body">
        <p>Ми збираємо всі агроновини для Вас! Якщо ви вдасник сайту агроновин або користувач якому не вистачає якогось ресурсу, пишіть нам через форму зворотнього зв'язку, що знаходиться у футері сайту.</p>
        <p>На сайті розміщаються тільки короткий опис та заголовок. З кожної новини відбувається перехід на ресурс оригіналу.</p>
    </div>
    <div class="card-footer">
    <div class="row">
        <p class="p-2">
      <a href="https://telegram.me/wn_world_news_bot?start=1" target="_blank" class="btn btn-outline-primary">Підписатись на новини в Telegram  <i class="fa fa-paper-plane fa-lg"></i></a>
    </p>
    <p class="p-2">
        <a href="/news/list" class="btn btn-outline-success">Всі новини</a>
    </p>
    </div>
    </div>
</div>
