*.pyc
/uploads/*
.idea/
env/
.coverage
/htmlcov/*
*.mo
/agro_portal/tmp/*
/static/*
*~
*.*~
/node_modules/*
/assets/bundles/*
webpack-stats.json
/media/*
/bower_components/*
settings_local.py
Ukrainian_cities.xls
npm-debug.log
