Django==4.2.4
django-autocomplete-light==3.9.7
django-ckeditor==6.7.0
django-mptt==0.14.0
django-phonenumber-field==7.1.0
django-rosetta==0.9.9
djangorestframework==3.14.0
factory-boy
flake8
ipaddress==1.0.23
MarkupSafe==2.1.3
phonenumbers==8.13.19
phonenumberslite==8.13.19
Pillow==10.0.0
psycopg[c]==3.1.10
python-dateutil==2.8.2
requests==2.31.0
social-auth-app-django[openidconnect]==5.2.0
transliterate==1.10.2
django-taggit==4.0.0
coverage
xlrd==2.0.1
django_http2_push
django-recaptcha==3.0.0
django-comments-dab==2.8.0
daphne==4.0.0
python-jose==3.3.0
django-silk==5.0.3