Babel==2.3.4
coverage==4.2
Django==2.0.8
django-autocomplete-light==3.2.10
django-ckeditor==5.3.1
# django-modeltranslation==0.12.2
git+https://github.com/deschler/django-modeltranslation
django-mptt==0.9.0
django-phonenumber-field==1.1.0
django-recaptcha==1.4.0
django-rosetta==0.8.1
djangorestframework==3.7.7
factory-boy
flake8==3.0.3
ipaddress==1.0.16
lorem-ipsum-generator==0.3
lxml==3.6.4
MarkupSafe==0.23
mccabe==0.5.1
microsofttranslator==0.8
pep8==1.7.0
phonenumbers==7.5.1
phonenumberslite==7.5.1
Pillow==5.0.0
polib==1.0.7
psycopg2==2.6.2
pycodestyle==2.0.0
pyflakes==1.2.3
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.20.0
six==1.10.0
social-auth-app-django==2.1.0
transliterate==1.8.1
xlrd==1.0.0
HTTPretty==0.8.14
django-jet