Django==4.1.7
django-autocomplete-light==3.9.4
django-ckeditor==6.5.1
django-mptt==0.14.0
django-phonenumber-field==7.0.2
django-rosetta==0.9.8
djangorestframework==3.14.0
factory-boy
flake8
ipaddress==1.0.23
MarkupSafe==2.1.2
phonenumbers==8.13.7
phonenumberslite==8.13.7
Pillow==9.4.0
psycopg2==2.9.5
python-dateutil==2.8.2
requests==2.28.2
social-auth-app-django[openidconnect]==5.1.0
transliterate==1.10.2
django-taggit==3.1.0
coverage
xlrd==2.0.1
django_http2_push
django-recaptcha==3.0.0
django-comments-dab==2.8.0
daphne==4.0.0
python-jose==3.3.0
