{% extends 'base.html' %}

{% load post_extras static %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/form.css" %}">
{% endblock scripts %}

{% block content %}
<p class="text-secondary mb-3 h3">Зв’яжіться з нами</p>
    <p class="text-secondary mb-3 h6">Ми завжди відкриті до ваших запитань, коментарів та пропозицій. Будь ласка, заповніть нижче наведену форму, і ми зв'яжемося з вами якомога швидше. Ми цінуємо кожен зворотний зв'язок і гарантуємо, що ваша інформація залишається конфіденційною.</p>

<form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <p class="text-justify bg-danger">{{ error }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Відправити</button>
</form>
{% endblock content %}
