{% extends 'base.html' %}

{% load i18n post_extras %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/form.css" %}">
{% endblock scripts %}

{% block content %}
<h2 class="text-secondary">{% trans 'Зв’яжіться з нами' %}</h2>

<form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <p class="text-justify bg-danger">{{ error }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">{% trans 'Відправити' %}</button>
</form>
{% endblock content %}
