{% extends 'base.html' %}

{% load post_extras static %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/form.css" %}">
{% endblock scripts %}

{% block content %}
<h3 class="text-secondary mb-3">Зв’яжіться з нами</h3>
    <h6 class="text-warning mb-3">Сюди можна задати будь-які запиттаня. Будемо раді вислухати всі зауваження та пропозиції так як робимо все для Вас і хочемо ставати кращими.
        Якщо пишете якісь зауваження до контенту обов'язково вказуйте конкретну публікацію або посилання щоб було зрозуміло.</h6>

<form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <p class="text-justify bg-danger">{{ error }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Відправити</button>
</form>
{% endblock content %}
