{% extends "base.html" %}

{% load cache post_extras news_extras static %}

{% block extra_meta %}
    <meta content="Всі аграрні оголошення {% if category %} в категорії {{ category.value }} {% endif %} | AgroMega.in.ua" property="og:title">
    <meta content="Свіжі оголошення аграрної тематики {% if category %} в категорії {{ category.value }} {% endif %}." property="og:description">
    {% if request.GET.page %}<meta name="robots" content="noindex, nofollow">{% endif %}
{% endblock extra_meta %}

{% block title %}Всі аграрні оголошення {% if category %} в категорії {{ category.value }} {% endif %}{% endblock %}

{% block page_title %}Всі аграрні оголошення {% if category %} в категорії {{ category.value }} {% endif %}{% endblock %}

{% block scripts %}
    <script src="{% static "js/popper.min.js" %}"></script>
    {{ block.super }}
{% endblock scripts %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        Вже зовсім скоро більше ресурсів з оголошеннями та магазів. Всі корисні фільтри та пошук. Дякуємо за те що
        Ви з нами!
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
        {% cache 1800 'categories_filter_block' %}
            {% categories_filter %}
        {% endcache %}
    </div>
    {% for obj in object_list %}
        <div class="row">
            <div class="card mb-3" style="width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-4 col-12">
                        {% if obj.data.image %}
                            <img class="card-img" src="{{ obj.data.image }}" alt="{{ obj.data.title }}">
                        {% endif %}
                        <span class="badge badge-pill badge-success"
                                 style="position: absolute; top: 20px; right: 20px;">{{ obj.link|get_domain }}</span>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.data.title }}</h5>
                            {% if obj.data.description %}
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#advert{{ forloop.counter }}" aria-expanded="false"
                                        aria-controls="collapseExample"
                                        onclick="ga('send', 'event', 'description', 'clicked')">Опис
                                </button>
                                <div class="collapse" id="advert{{ forloop.counter }}">
                                    <div class="card-text">{{ obj.data.description }}</div>
                                </div>
                            {% endif %}
                            <div class="row mt-3">
                                <div class="col-12 align-self-center">
                                    <p class="h6 text-secondary">{{ obj.data.location }}</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <p class="h6 text-success">{{ obj.data.price }}</p>
                                </div>
                                <div class="col-6">
                                    <button class="btn text-success"
                                            onclick="ga('send', 'event', '{{ obj.link|get_domain }}', 'clicked'); window.open('{{ obj.link }}', '_blank')">
                                        Докладніше <i class="icon-right-big" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "helpers/pagination_short.html" %}
{% endblock content %}
