{% extends "base.html" %}

{% load cache post_extras news_extras %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/list.css" %}">
{% endblock scripts %}

{% block extra_meta %}
    <meta content="Всі аграрні оголошення {% if category %} в категорії {{ category.value }} {% endif %}| AgroMega.in.ua" property="og:title">
    <meta content="Свіжі оголошення аграрної тематики{% if category %} в категорії {{ category.value }}{% endif %}." property="og:description">
    {% if request.GET.page %}
        <meta name="robots" content="noindex, nofollow">{% endif %}
{% endblock extra_meta %}

{% block title %}Всі аграрні оголошення{% if category %} в категорії {{ category.value }} {% endif %}{% endblock %}

{% block page_title %}Всі аграрні оголошення{% if category %} в категорії {{ category.value }}
{% endif %}{% endblock %}

{% block base_content_block %}
    <div class="col-12">
        <div class="col-md-4 col-12 mb-3">
            {% cache 1800 'categories_filter_block' %}
                {% categories_filter %}
            {% endcache %}
        </div>
        {% for group in object_list|group_by:4 %}
            <div class="card-group mb-2">
            {% with external_loop_counter=forloop.counter %}
                {% for obj in group %}
                    <div class="col-md-3 col-12 mb-2">
                        <div class="card">
                            {% if obj.data.image %}
                                <img class="card-img" src="{{ obj.data.image }}" alt="{{ obj.data.title }}">
                                {% else %}
                                <div class="card-img" style="width: 100%; height: 180px; background-color: white;"></div>
                            {% endif %}
                               <span class="badge badge-pill badge-success" style="position: absolute; top: 10px; left: 10px;">{{ obj.link|get_domain }}</span>
                            <div class="card-body">
                                <h6 class="card-title">{{ obj.data.title }}</h6>
                                <div class="row mt-3">
                                    <div class="col-12 align-self-center">
                                        <p class="h6 text-secondary">{{ obj.data.location }}</p>
                                    </div>
                                </div>
                                {% if obj.data.description %}
                                    <p class="card-text collapse" id="advert{{ forloop.counter|multiply:'a' }}{{ external_loop_counter|multiply:'b' }}">{{ obj.data.description }}</p>
                                    <button class="btn btn-link pl-0" type="button" data-toggle="collapse"
                                            data-target="#advert{{ forloop.counter|multiply:'a' }}{{ external_loop_counter|multiply:'b' }}" aria-expanded="false"
                                            onclick="ga('send', 'event', 'description', 'clicked');">Читати опис</button>
                                {% endif %}
                            <div class="row align-content-between">
                                    <div class="col-6 p-0"><span class="btn text-success">{{ obj.data.price }}</span></div>
                                    <div class="col-6 p-0">
                                        <button class="btn text-success"
                                                onclick="ga('send', 'event', '{{ obj.link|get_domain }}', 'clicked'); window.open('{{ obj.link }}?ref=agromega.in.ua', '_blank')">
                                            Докладніше
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
            </div>
        {% endfor %}

        {% include "helpers/pagination_short.html" %}
    </div>
{% endblock base_content_block %}
