{% extends "base.html" %}

{% load post_extras static %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/detail.css" %}">
{% endblock scripts %}

{% block extra_meta %}
    <meta content="{{ object.title }} | AgroMega.in.ua" property="og:title">
    <meta content="{{ object.description|striptags|truncatechars:160 }}" property="og:description">
    <meta content="{{ object.url }}" property="og:url">
    <meta content="article" property="og:type">
    <meta content="AgroMega.in.ua" property="og:site_name">
{% endblock extra_meta %}

{% block title %}{{ object.title }}{% endblock %}

{% block page_title %}{{ object.title }}{% endblock %}
{% block page_title_right %}
    <a href="https://telegram.me/wn_world_news_bot?start=1" target="_blank" class="btn btn-outline-primary btn-sm">Telegram
        <i class="icon-paper-plane"></i></a>{% endblock %}

{% block content %}
    <div class="post-content">
        {% if object.image %}
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card">
                        <img alt="{{ object.title }}" width="1000" height="500"
                             src="{{ object.image }}"
                             class="card-img img-fluid"/>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 p-0">
                <div class="m-3 post-wrapper">
                    {{ object.description|safe }}
                    <p class="m-0"><span class="h6">Дата публікації: {{ object.created }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        {% post_adverts %}
    </div>
    <div class="col-12 mt-3">
        {% random_posts %}
    </div>

{% endblock content %}
