{% extends "base.html" %}

{% load post_extras static %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/list.css" %}">
{% endblock scripts %}

{% block extra_meta %}
    <meta content="Всі агроновини в одному місці | AgroMega.in.ua" property="og:title">
    <meta content="Новини агросектору. Стрічка найсвіжіших агроновин бізнесу та сфери в цілому." property="og:description">
    {% if request.GET.page %}<meta name="robots" content="noindex, nofollow">{% endif %}
{% endblock extra_meta %}

{% block title %}Всі агроновини в одному місці{% endblock %}

{% block page_title %}Всі агроновини в одному місці{% endblock %}

{% block content %}
    <a href="https://telegram.me/wn_world_news_bot?start=1" target="_blank" class="btn btn-outline-primary mb-3 ml-1">Підписатись
        на новини в Telegram <i class="icon-paper-plane"></i></a>
    {% for obj in object_list %}
        <div class="row">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4 col-12">
                        {% if obj.data.image %}
                            {% if "http" in obj.data.image %}
                                <img class="card-img" src="{{ obj.data.image }}" alt="{{ obj.data.title }}">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.data.title }}</h5>
                            {% if obj.data.description %}
                                <div class="card-text">{{ obj.data.description }}</div>
                            {% endif %}
                            <div class="row mt-3">
                                <div class="col-6 align-self-center">
                                    <p class="h6 text-danger">{{ obj.data.link|get_domain }}</p>
                                </div>
                                <div class="col-6 align-self-center">
                                    <button class="btn text-success"
                                            onclick="window.open('{{ obj.data.link }}', '_blank')">Докладніше</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "helpers/pagination_short.html" %}
{% endblock content %}
