{% extends "pro_auth/profile/profile_base.html" %}
{% block profile_content %}
    <div class="d-flex justify-content-between justify-content-center align-items-center mb-3 mt-3">
        <h1 class="text-success">Мої оголошення</h1>
        <a class="btn btn-success btn-sm text-white"
           href="{% url 'pro_auth:profile-adverts-create' %}"><i class="fas fa-plus"></i> Додати</a>
    </div>
    {% if object_list %}
        <div class="row">
            {% for advert in object_list %}
                <div class="row mb-1">
                    <div class="col-12 col-md-4 d-flex justify-content-start align-items-center">
                        <a class="no-decoration text-success"
                           href="{{ advert.get_absolute_url }}">{{ advert.title }}</a>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-end  align-items-center mb-2">
                        <span class="text-success me-2"><small>{{ advert.updated|date:"d.m.Y H:i" }}</small></span>
                        <span class="text-success me-2"><small><i class="fas fa-eye"></i> {{ advert.views }}</small></span>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-end align-items-center">
                        <a class="btn btn-primary btn-sm me-2"
                           href="{% url 'pro_auth:profile-adverts-update-date' pk=advert.id %}"
                           title="Оновити дату"><i class="fas fa-clock"></i></a>
                        <a class="btn btn-warning btn-sm me-2"
                           href="{% url 'pro_auth:profile-adverts-update' pk=advert.id %}"
                           title="Редагувати"><i class="fas fa-pencil-alt text-white"></i></a>
                        <a class="btn btn-danger btn-sm me-2"
                           href="{% url 'pro_auth:profile-adverts-delete' pk=advert.id %}"
                           title="Видалити"><i class="fas fa-trash"></i></a>
                        {% if advert.is_active %}
                            <a class="btn btn-secondary btn-sm"
                               href="{% url 'pro_auth:profile-adverts-deactivate' pk=advert.id %}"
                               title="Деактивувати"><i class="fas fa-ban"></i></a>
                        {% else %}
                            <a class="btn btn-success btn-sm"
                               href="{% url 'pro_auth:profile-adverts-activate' pk=advert.id %}"
                               title="Активувати"><i class="fas fa-check"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "helpers/pagination_short.html" %}
    {% else %}
        <p class="text-warning">У Вас поки немає оголошень</p>
    {% endif %}
{% endblock profile_content %}
