{% extends "pro_auth/profile/profile_base.html" %}

{% load post_extras %}


{% block profile_content %}
    <div class="profile-page-panel profile-form-panel">
        <h1 class="profile-page-title">Зміна даних</h1>
        <form method="post" action="{% url 'pro_auth:change-profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="profile-form-group">
                    <label class="profile-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="profile-form-field">
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <p class="profile-form-error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="profile-form-actions">
                <button type="submit" class="btn btn-success">Зберегти</button>
            </div>
        </form>
    </div>
    {{ form.media }}
{% endblock %}
