{% extends "pro_auth/profile/profile_base.html" %}

{% block profile_content %}
    <div class="d-flex justify-content-between justify-content-center align-items-center mb-1">
    <h1 class="text-success">Мої публікації</h1>
    <a class="btn btn-success btn-sm text-white"><i class="fas fa-plus"></i>Додати</a>
    </div>
    {% if posts %}
        <div class="row">
        {% for post in posts %}
            <div class="col-6 d-flex justify-content-between align-items-center mb-1">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><a class="btn btn-warning btn-sm" href="{% url 'pro_auth:profile-posts-update' pk=post.id %}"><i class="fas fa-pencil-alt text-white"></i></a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-warning">У Вас поки немає публікацій</p>
    {% endif %}
{% endblock %}
