{% extends "pro_auth/profile/profile_base.html" %}

{% load post_extras %}


{% block profile_content %}
    <h1 class="text-success">Змінити публікацію</h1>
    <form method="post" action="{% url 'pro_auth:profile-posts-update' pk=form.instance.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-12">
                    <label>{{ field.label }}</label>
                </div>
                {% for error in field.errors %}
                    <div class="col-12">
                        <p class="text-danger">{{ error }}</p>
                    </div>
                {% endfor %}
                <div class="col-12">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="col-12">
            <button type="submit" class="btn btn-success mb-3">Зберегти</button>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
