{% extends "posts/parent_index.html" %}

{% block title %}Всі агроподії{% endblock title %}

{% block meta_description %}{% endblock meta_description %}

{% block extra_meta %}{% endblock extra_meta %}

{% block second_menu %}
{% endblock %}

{% block page_title %}Агроподії{% endblock %}
{% block page_title_right %}
    <a href="/events/create/" class="btn btn-success btn-sm"><i class="icon-plus"></i> Опублікувати подію</a>{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

    {% include "events/helpers/object_list.html" %}

    {% include "helpers/pagination.html" %}
{% endblock content %}
