{% load post_extras %}
<div class="site-card-list">
    {% for event in object_list %}
        <article class="site-list-card">
            <a class="site-list-card__media"
               href="{{ event.get_absolute_url }}"
               aria-label="{{ event.title }}">
                <img src="{% thumbnail event 350 280 'poster' %}"
                     alt="{{ event.title }}"
                     class="site-list-card__image"
                     width="350"
                     height="280">
            </a>
            <div class="site-list-card__body">
                <h2 class="site-list-card__title">
                    <a class="site-list-card__title-link"
                       href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                </h2>
                <p class="site-list-card__text">{{ event.text|striptags|safe|truncatechars:200 }}</p>
                <div class="site-list-card__actions">
                    <a class="site-list-card__link" href="{{ event.get_absolute_url }}">Докладніше</a>
                </div>
            </div>
        </article>
    {% endfor %}
</div>
