{% load post_extras static %}
<div class="site-card-list">
    {% for post in object_list %}
        <article class="site-list-card{% if not post.photo.first %} site-list-card--text-only{% endif %}">
            {% if post.photo.first %}
                <a class="site-list-card__media"
                   href="{{ post.get_absolute_url }}"
                   aria-label="{{ post.title }}">
                    <img src="{% thumbnail post.photo.first 350 280 %}"
                         alt="{{ post.rubric.value }} {{ post.title }}"
                         width="350"
                         height="280"
                         class="site-list-card__image" />
                </a>
            {% endif %}
            <div class="site-list-card__body">
                <h2 class="site-list-card__title">
                    <a class="site-list-card__title-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    {% if post.country %}
                        <img alt="{{ post.country.value }}"
                             src="{% static 'posts/flags/'|add:post.country.short_slug|add:'.svg' %}"
                             height="20"
                             width="30" />
                    {% endif %}
                </h2>
                <p class="site-list-card__text">{{ post.text|striptags|safe|truncatechars:200 }}</p>
                <div class="site-list-card__actions">
                    <a class="site-list-card__link" href="{{ post.get_absolute_url }}">Докладніше</a>
                </div>
            </div>
        </article>
    {% endfor %}
</div>
