<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
 <li class="breadcrumb-item"><a class="text-success" href="/"><i class="icon-home"></i></a></li>
  {% if post_title %}
    {% for item in items %}
      <li class="breadcrumb-item"><a class="text-success" href="{{ item.get_absolute_url }}">{{item.value}}</a></li>
    {% endfor %}
    <li class="breadcrumb-item active">{{post_title}}</li>
  {% else %}
    {% for item in items %}
      {% if forloop.last %}
        <li class="breadcrumb-item active">{{item.value}}</li>
      {% else %}
        <li class="breadcrumb-item"><a class="text-success" href="{{ item.get_absolute_url }}">{{item.value}}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}
 </ol>
</nav>
