{% extends "base.html" %}

{% load static_push i18n cache post_extras %}

{% block title %}{% if object.meta %}{{ object.meta.title }}{% else %}{{ object.title }} |{% endif %}{% endblock title %}

{% block meta_description %}{% if object.meta %}{{ object.meta.description }}{% else %}{{ object.text|truncatechars:300|striptags|safe }}{% endif %}{% endblock %}

{% block extra_meta %}
    <meta content="{{ object.title }} | AgroMega.in.ua" property="og:title">
    <meta content="{% if object.meta_description %}{{ object.meta_description }}{% else %}{{ object.text|truncatechars:300|striptags|safe }}{% endif %}" property="og:description">
    <meta content="{% full_url object.photo.first.image.url %}" property="og:image">
    <meta content="{% full_url object.get_absolute_url %}" property="og:url">
    <meta content="AgroMega.in.ua" property="og:site_name">
    <link href="{% full_url object.photo.first.image.url %}" rel="image_src"/>
{% endblock extra_meta %}

{% block scripts %}
    <script src="{% static_version "posts/j-detail.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/detail.css" %}">
{% endblock scripts %}

{% block second_menu %}
    {% cache 3600 'second_menu' view.kwargs.parent category.slug %}
        {% second_menu view.kwargs.parent object.rubric.slug %}
    {% endcache %}
{% endblock second_menu %}

{% block page_title %}{% if object.meta and obj.meta.h1 %}{{ object.meta.h1 }}{% else %}{{ object.title }}{% endif %}
    {% if object.country %}{% with 'posts/flags/'|add:object.country.short_slug|add:'.svg' as flag_static %}
        <object type="image/svg+xml" data="{% static_push flag_static %}" height="25px"
                width="35px">{{ object.country.value }}</object>{% endwith %}{% endif %}{% endblock %}

{% block breadcrumbs %}
    {% cache 3600 'breadcrumbs' view.kwargs.parent category.slug object.title %}
        {% breadcrumbs object.rubric object.title %}
    {% endcache %}
{% endblock %}

{% block content %}
    <div class="post-content">
    <div class="row">
        <div class="col-12 p-0">
            {% if object.photo.first %}
                <img alt="{{ object.title }}" src="{% thumbnail object.photo.first 800 %}" class="img-fluid"/>
            {% endif %}
            <div class="img-overlay">
                <a href="/gallery/add/{{ object.id }}/" class="btn btn-success btn-circle btn-circle-lg mr-2"><i class="icon-plus"></i></a>
                {% if object.photo.count > 1 %}
                    <a href="/gallery/{{ object.id }}/" class="btn btn-primary btn-circle btn-circle-lg"><i class="icon-eye"></i></a>{% endif %}
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12 p-0">
        <div class="m-3">
            {{ object.text|safe }}
            {% if object.author %}<h6 class="mt-2">Автор: {{ object.author }}</h6>{% endif %}
            {% if object.source %}<div class="post-source mt-2 mb-3"><h6 style="overflow-y: auto;">{% trans 'Джерело: ' %}{{ object.source }}</h6></div>{% endif %}
        </div>

        <div class="col-12 d-flex justify-content-between mb-3">
            <span class="text-success h5"><i class="icon-eye"></i> {{ object.hits }}</span>
            <a class="h5" tabindex="-1" target="Share-in-facebook"
               onclick="window.open(this.href, 'Share-in-facebook' , 'width=400, height=400'); return false;"
               href="https://www.facebook.com/sharer/sharer.php?u={% full_url object.get_absolute_url %}">
                <i class="icon-facebook"></i>
            </a>
        </div>
    </div>
    </div>
    </div>
    <div class="col-12 p-0">
        <div class="post_id_value" id="{{ object.id }}"></div>
        <div class="col-12 mt-3 mb-3" id="useful__wrapper">
            <div class="row d-flex justify-content-center">
                <span class="pb-2">Публікація корисна?</span>
            </div>
            <div class="row d-flex justify-content-center">
                <button class="btn btn-success mr-3" id="useful">Так</button>
                <button class="btn btn-danger" id="notuseful">Ні</button>
            </div>
        </div>
        {% cache 300 'relative_list' object.rubric.slug %}
            {% relative_posts object.rubric %}
        {% endcache %}
        {% cache 900 'advert_detail_list' object.rubric.parent.slug %}
            {% post_adverts object.rubric.parent %}
        {% endcache %}
    </div>
{% endblock content %}
