{% extends "base.html" %}

{% load staticfiles i18n %}
{% load cache post_extras %}

{% block title %}
    {% if object.meta %}{{ object.meta.title }}{% else %}{{ object.title }} |{% endif %}
{% endblock title %}

{% block meta_description %}
    {% if object.meta %}{{ object.meta.description }}{% else %}{{ object.text|truncatechars:300|striptags|safe }}{% endif %}
{% endblock %}

{% block extra_meta %}
    {% load post_extras %}
    <meta content="{{ object.title }} | AgroMega.in.ua" property="og:title">
    <meta content="{% if object.meta_description %}
                        {{ object.meta_description }}
                   {% else %}
                        {{ object.text|truncatechars:300|striptags|safe }}
                   {% endif %}" property="og:description">
    <meta content="{% full_url object.photo.first.image.url %}" property="og:image">
    <meta content="{% full_url object.get_absolute_url %}" property="og:url">
    <meta content="AgroMega.in.ua" property="og:site_name">
    <link href="{% full_url object.photo.first.image.url %}" rel="image_src" />
{% endblock extra_meta %}

{% block second_menu %}
    {% cache 3600 'second_menu' view.kwargs.parent category.slug %}
        {% second_menu view.kwargs.parent object.rubric.slug %}
    {% endcache %}
{% endblock second_menu %}

{% block page_title %}
    <h1>{% if object.meta and obj.meta.h1 %}{{ object.meta.h1 }}{% else %}{{ object.title }}{% endif %}</h1>
{% endblock %}

{% block breadcrumbs %}
    {% cache 3600 'breadcrumbs' view.kwargs.parent category.slug object.title %}
        {% breadcrumbs object.rubric object.title %}
    {% endcache %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div id="post-carousel" class="carousel" data-ride="carousel" data-interval="false">
                <div class="carousel-inner" role="listbox">
                    {% for photo in object.photo.all%}
                        {% if photo == object.photo.first %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                    <img alt="{{ object.title }}" src="{{ photo.image.url }}" class="img-rounded img-responsive" />
                    {# Photo description #}
                    {% if photo.description %}
                        <div class="carousel-caption">
                            <h4>{{ photo.description }}</h4>
                        </div>
                    {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                    {#  Controls #}
                    {% if object.photo.count > 1 %}
                        <a class="left carousel-control" href="#post-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#post-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        {# Reviews block #}
        <div class="col-md-4 col-xs-12">
            <div id="reviews" class="{{ object.slug }}"></div>
        </div>
    </div>

    <hr>

    <div class="col-md-12 col-xs-12">
        <div class="text-justify">
            {{ object.text|safe }}
        </div>
        {% if object.author %}<h5>{{ object.author }}</h5>{% endif %}
        {% if object.source %}
            <div class="post-source">
                <h5>{% trans 'Source: ' %}{{ object.source }}</h5>
            </div>
        {% endif %}
    </div>
    <div class="col-md-12 col-xs-12">
        <ul class="nav nav-pills pull-right">
            <li role="presentation">
                <a tabindex="-1" target="Share-in-vk" onclick="window.open(this.href, 'Share-in-vk' , 'width=400, height=200'); return false;" href="http://vk.com/share.php?url={% full_url object.get_absolute_url %}">
                    <i class="fa fa-vk fa-2x"></i>
                </a>
            </li>
            <li role="presentation">
                <a tabindex="-1" target="Share-in-facebook" onclick="window.open(this.href, 'Share-in-facebook' , 'width=400, height=400'); return false;" href="https://www.facebook.com/sharer/sharer.php?u={% full_url object.get_absolute_url %}">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-12 col-xs-12">
        {# Random posts block. #}
        <div class="h5">{% trans 'Більше статтей тут:' %}</div>
        <div id="random-post-list"></div>
        {# Comments block. #}
        <div id="comment" class="{{ object.id }}"></div>
    </div>


    <script src="{% static_version 'bundles/detail.js' %}"></script>
{% endblock content %}
