{% extends "base.html" %}

{% load post_extras cache %}

{% block title %}
    {% if category.meta %}{{ category.meta.title }} |{% else %}{{ category.title }} |{% endif %}
{% endblock title %}

{% block meta_description %}
    {% if category.meta %}{{ category.meta.description }}{% else %}{{ category.value }} AgroMega.in.ua{% endif %}
{% endblock %}


{% block second_menu %}
    {% cache 3600 'second_menu' view.kwargs %}
        {% second_menu view.kwargs %}
    {% endcache %}
{% endblock second_menu %}

{% block content %}
    <div class="list-h1">
        {% if category.meta and category.meta.h1 %}<h1>{{ category.meta.h1 }}</h1>{% endif %}
    </div>
    {% for group in object_list|group_by:2 %}
        <div class="row">
            {% for obj in group %}
                <div class="col-sm-12 col-md-6">
                    <div class="item_in_list">
                        <img src="{{obj.photo.first.image.url}}" alt="{{ odj.photo.first.description }}" class="img-rounded img-responsive" id="image-list-size">
                        <a href="{{ obj.get_absolute_url }}"><h2 class="text-center">{{ obj.title }}</h2></a>
                        <div class="text-justify">{{ obj.text|safe|truncatechars:300 }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% include "helpers/pagination.html" %}
{% endblock content %}
