{% extends "posts/parent_index.html" %}

{% load post_extras %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/list.css" %}">
{% endblock scripts %}

{% block extra_meta %}
    <meta name="robots" content="noindex, follow">
{% endblock extra_meta %}

{% block page_title %}{% if category.meta and category.meta.h1 %}{{ category.meta.h1 }}{%else%}{{category.value}}{% endif %}{% endblock %}

{% block content %}
    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="List types">
        <button type="button" class="btn btn-success" onclick="location.href='/{{ category.parent.slug }}/{{ category.slug }}/'">А-Я</button>
        <button type="button" class="btn btn-success disabled" aria-disabled="true">СПИСОК</button>
      </div>
      </div>
    </div>

    {% include "posts/helpers/object_list.html" %}

    {% include "helpers/pagination.html" %}
{% endblock content %}
