{% for root in roots %}
    <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ root.value }}<span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for child in root.get_children %}
                <a class="dropdown-item" href="/{{ child.slug }}/">{{ child.value }}</a>
            {% endfor %}
        </div>
    </li>
{% endfor %}