{% extends "base.html" %}

{% load post_extras cache static %}

{% block title %}{% if category.meta %}{{ category.meta.title }} |{% else %}{{ category.value }} |{% endif %}{% endblock title %}

{% block cannonical %}
    {% if request.GET.page or request.GET.order %}
        <link rel="canonical" href="https://agromega.in.ua{{ request.path }}" />
    {% endif %}
{% endblock cannonical %}

{% block meta_description %}{% if category.meta %}{{ category.meta.description }}{% else %}{{ category.value }} AgroMega.in.ua{% endif %}{% endblock %}

{% block scripts %}
    <script async src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/list.css" %}">
{% endblock scripts %}

{% block second_menu %}
    {% cache 3600 'second_menu' view.kwargs.parent category.slug %}
        {% second_menu view.kwargs.parent category.slug %}
    {% endcache %}
{% endblock second_menu %}

{% block page_title %}
    {% if category.meta and category.meta.h1 %}{{ category.meta.h1 }}{%else%}{{category.value}}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% cache 3600 'breadcrumbs' view.kwargs.parent category.slug %}
        {% breadcrumbs category %}
    {% endcache %}
{% endblock %}

{% block content %}
    {% if category.meta and category.meta.text %}
        <div class="col-lg-12 col-12">
            <div class="text-justify">
                {{ category.meta.text|safe }}
            </div>
        </div>
    {% endif %}

    {% include "posts/helpers/object_list.html" %}

{% endblock content %}
