{% extends "base.html" %}

{% load post_extras cache %}

{% block title %}
    {% if category.meta %}{{ category.meta.title }} |{% else %}{{ category.value }} |{% endif %}
{% endblock title %}

{% block meta_description %}
    {% if category.meta %}{{ category.meta.description }}{% else %}{{ category.value }} AgroMega.in.ua{% endif %}
{% endblock %}


{% block second_menu %}
    {% cache 3600 'second_menu' view.kwargs.parent category.slug %}
        {% second_menu view.kwargs.parent category.slug %}
    {% endcache %}
{% endblock second_menu %}

{% block page_title %}
    <h1>{% if category.meta and category.meta.h1 %}{{ category.meta.h1 }}{%else%}{{category.value}}{% endif %}</h1>
{% endblock %}

{% block breadcrumbs %}
    {% cache 3600 'breadcrumbs' view.kwargs.parent category.slug %}
        {% breadcrumbs category %}
    {% endcache %}
{% endblock %}

{% block content %}
    {% if category.meta and category.meta.text %}
        <div class="col-md-12 col-xs-12">
            <div class="text-justify">
                {{ category.meta.text|safe }}
            </div>
        </div>
        <div class="row">
            {% for obj in objects %}
                <div class="col-sm-12 col-md-6">
                    <div class="item_in_list">
                        <img src="{%thumbnail obj.photo.first 340 230%}" alt="{{ odj.photo.first.description }}" class="img-rounded img-responsive" id="image-list-size">
                        <a href="{{ obj.get_absolute_url }}"><h2 class="text-center">{{ obj.title }}</h2></a>
                        <div class="text-justify">{{ obj.text|striptags|safe|truncatechars:300 }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
