{% extends "base.html" %}

{% load post_extras static %}

{% block extra_meta %}
    <meta name="robots" content="noindex, nofollow">
    <meta content="Поділитись фото {{ post.title }} | AgroMega.in.ua" property="og:title">
    <meta content="Поділіться фото ваших улюбленців {{ post.title }} з іншими користувачами" property="og:description">
    <meta content="{{ request.path }}" property="og:url">
    <meta content="AgroMega.in.ua" property="og:site_name">
{% endblock extra_meta %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/list.css" %}">
{% endblock scripts %}

{% block page_title %}Завантажити фото публікації: {{ post.title }}{% endblock %}
{% block title %}Поділитись фото {{ post.title }} |{% endblock %}
{% block meta_description %}Діліться фото ваших улюбленців {{ post.title }}. Їх обов'язково подивиться багато людей.{% endblock %}

{% block content %}
    <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.name != "post_id" %}
                    <div class="col-12">
                        <label>{{ field.label }}</label>
                    </div>
                    {% for error in field.errors %}
                        <div class="col-12">
                            <p class="text-danger">{{ error }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-12">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="col-12">
            <button type="submit" class="btn btn-success mb-3">Опублікувати</button>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
