{% if adverts %}
    <section class="site-content-section site-random-posts">
        <h2 class="site-content-section__title">Оголошення</h2>
        <div class="site-random-posts__grid">
            {% for advert_item in adverts %}
                <article class="site-random-posts__item">
                    <a href="{{ advert_item.url }}" class="site-random-posts__link">
                        {% if advert_item.image %}
                            <img src="{{ advert_item.image }}"
                                 loading="lazy"
                                 class="site-random-posts__image"
                                 width="200"
                                 height="150"
                                 alt="Фото {{ advert_item.title }}">
                        {% else %}
                            <span class="site-random-posts__image" aria-hidden="true"></span>
                        {% endif %}
                        <p class="site-random-posts__title">{{ advert_item.title }}</p>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
{% endif %}
