{% if adverts %}
    <h5>Оголошення в категорії:</h5>
    <a href="{{ link }}" style="text-decoration: none; outline: 0;">
    <div class="row mt-3 mb-3">
        {% for item in adverts %}
            <div class="col-6 col-lg-3">

                    {% if item.data.image %}
                        <img src="{{ item.data.image }}" class="img-fluid rounded" alt="{{ item.data.title }}">
                    {% endif %}

                <h5 class="text-center m-3" style="overflow: auto;">
                    <p class="text-success">{{ item.data.title }}</p>
                </h5>
            </div>
        {% endfor %}
    </div>
    </a>
{% endif %}
