{% load post_extras %}

{% if posts %}
    <p class="h5">Цікавинки на Додачу:</p>
    <div class="row mt-3 mb-3">
        {% for item in posts %}
            <div class="col-6 col-lg-3">
                <a href="{{ item.absolute_url }}" style="text-decoration: none">
                    {% if item.photo__image %}
                        <img src="{{ item.photo__image }}" loading="lazy" class="img-fluid" width="200" height="150"
                             alt="Фото {{ item.title }}">
                    {% endif %}
                    <p class="text-center text-success h6 m-3" style="overflow: auto;">{{ item.title }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}