{% load post_extras %}
{% if posts %}
    <section class="site-content-section">
        <h2 class="site-content-section__title">Публікації в категорії</h2>
        <div class="row mt-3 mb-3">
            {% for item in posts %}
                <div class="col-6 col-lg-3">
                    <a href="{{ item.absolute_url }}" class="no-decoration">
                        {% if item.photo__image %}
                            <img src="{{ item.photo__image }}"
                                 loading="lazy"
                                 class="img-fluid"
                                 width="200"
                                 height="150"
                                 alt="Фото {{ item.title }}">
                        {% endif %}
                        <p class="text-center text-success h6 m-3 overflow-auto">{{ item.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
