{% load post_extras %}
{% if posts %}
    <section class="site-content-section site-random-posts">
        <h2 class="site-content-section__title">Публікації в категорії</h2>
        <div class="site-random-posts__grid">
            {% for item in posts %}
                <article class="site-random-posts__item">
                    <a href="{{ item.absolute_url }}" class="site-random-posts__link">
                        {% if item.photo__image %}
                            <img src="{{ item.photo__image }}"
                                 loading="lazy"
                                 class="site-random-posts__image"
                                 width="200"
                                 height="150"
                                 alt="Фото {{ item.title }}">
                        {% endif %}
                        <p class="site-random-posts__title">{{ item.title }}</p>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
{% endif %}
