{% extends "base.html" %}

{% load post_extras %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/list.css" %}">
{% endblock scripts %}

{% block title %}Пошук на сайті{% endblock title %}

{% block extra_meta %}
    <meta name="robots" content="noindex,follow">
{% endblock extra_meta %}

{% block page_title %}
    Пошук
{% endblock %}

{% block content %}
        <form class="form-inline" action="/search/" method="get">
            <div class="form-group m-2">
                <input class="form-control" name="q" type="text" placeholder="Текст пошуку">
            </div>
            <button type="submit" class="btn btn-success m-2"><i class="icon-search"></i></button>

        </form>
    {% if object_list %}
        {% include "posts/helpers/object_list.html" %}
    {% else %}
        <p class="h5 text-danger">Жодних статей за Вашим запитом не знайдено.</p>
    {% endif %}

    {% include "helpers/pagination_short.html" %}
{% endblock content %}
