{% extends "base.html" %}
{% load post_extras static %}
{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/list.css" %}">
{% endblock scripts %}
{% block title %}
    Пошук на сайті
{% endblock title %}
{% block extra_meta %}
{% endblock extra_meta %}
{% block page_title %}
    Пошук
{% endblock page_title %}
{% block content %}
    <div class="row">
        <form class="form-inline m-0 p-0 pb-3"
              action="{% url 'post-search-list' %}"
              method="get">
            <div class="form-group m-2">
                <div class="input-group">
                    <input class="form-control form-control-lg"
                           name="q"
                           type="text"
                           value="{{ request.GET.q|default_if_none:'' }}"
                           placeholder="Текст пошуку" />
                    <button type="submit" class="btn btn-lg btn-success">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if object_list %}
        {% include "posts/helpers/object_list.html" %}
    {% elif request.GET.q %}
        <p class="text-warning">
            Напишіть <a href="{% url 'feedback-form' %}">нам</a> і ми додаму інформацію найближчим часом.
        </p>
    {% endif %}
    {% include "helpers/pagination_short.html" %}
{% endblock content %}
