{% extends "base.html" %}

{% load post_extras %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/main.css" %}">
{% endblock scripts %}

{% block content %}
    <h1 class="text-center">500</h1>
    <h2 class="text-center">Упс. Сталась помилка або сторінка в розробці. Вибачте за незручності. Напишіть нам у форму <a href="/feedback/">зворотнього зв'язку</a> і ми вирішимо проблему найближчим часом.</h2>
{% endblock content %}
