{% extends "base.html" %}

{% load post_extras events_extras cache %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/add.css" %}">
{% endblock scripts %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-6">
            <div class="jumbotron text-center text-success">
                <p class="display-4"><i class="icon-plus"></i></p>
                <p class="lead">Додати подію</p>
                <a class="stretched-link" href="/events/create/" role="button"></a>
            </div>
        </div>
        <div class="col-md-4 col-6">
            <div class="jumbotron text-center text-success">
                <p class="display-4"><i class="icon-plus"></i></p>
                <p class="lead">Додати публікацію</p>
                <a class="stretched-link" href="/publication/create/" role="button"></a>
            </div>
        </div>
        <div class="col-md-4 col-6">
            <div class="jumbotron text-center text-success">
                <p class="display-4"><i class="icon-plus"></i></p>
                <p class="lead">Додати оголошення</p>
                <a class="stretched-link" href="/adverts/create/" role="button"></a>
            </div>
        </div>
    </div>
{% endblock %}
