{% load i18n %}
{% load static post_extras events_extras %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#24a824">
    <title>{% block title %}{% trans 'Агропортал України' %} |{% endblock title %} AgroMega.in.ua</title>
    <meta name="description" content="{% block meta_description %}{% trans 'Все про аграрну сферу і навіть більше.' %}{% endblock %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "posts/favicon.ico" %}"/>
    {# For extra meta tags#}
    {% block extra_meta %}
        <meta content="{% trans 'Агропортал України' %} | AgroMega.in.ua" property="og:title">
        <meta content="{% trans 'Все про аграрну сферу і навіть більше.' %}" property="og:description">
{#        <meta content="" property="og:image">#}
        <meta content="{{ request.path }}" property="og:url">
        <meta content="AgroMega.in.ua" property="og:site_name">
    {% endblock extra_meta %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static_version "posts/css/fontello.css" %}">
    {% block scripts %}
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock scripts %}
</head>
{% block body_head_tag %}
    <body style="background-color:#f7f7f7;">
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<main style="margin-bottom: 65px;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-12 mb-3">
                {% block second_menu %}{% endblock %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-12">
                <h1 class="h2 text-success">{% block page_title %}{% endblock %}</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-12 mb-3">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% block base_content_block %}
                <div class="col-md-8 col-12">
                    {% block content %}{% endblock content %}
                </div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-4522526101011449",
                        enable_page_level_ads: true
                    });
                </script>
                </div>
            {% endblock base_content_block %}
    </div>
    </div>

    {% block extra_body %}{% endblock extra_body %}
</main>
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

{# Google Analytics #}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-99575306-1', 'auto');
    ga('send', 'pageview');
</script>
{#/Google Analytics#}
{% block extra_footerscript %}{% endblock %}
</body>
</html>
