{% load i18n %}
{% load static post_extras events_extras %}
<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#24A824">
        <title>{% spaceless %}{% block title %}{% trans 'Агропортал України' %} |{% endblock title %}{% endspaceless %} AgroMega.in.ua</title>
        <meta name="description" content="{% spaceless %}{% block meta_description %}{% trans 'Все про аграрну сферу і навіть більше.' %}{% endblock %}{% endspaceless %}">
        <!-- For extra meta tags -->
        {% block extra_meta %}
            <meta content="{% trans 'Агропортал України' %} | AgroMega.in.ua" property="og:title">
            <meta content="{% trans 'Все про аграрну сферу і навіть більше.' %}" property="og:description">
            <meta content="" property="og:image">
            <meta content="https://agromega.in.ua" property="og:url">
            <meta content="AgroMega.in.ua" property="og:site_name">
        {% endblock extra_meta %}
        <!-- For extra scripts inclusion -->
        {% block extra_script %}{% endblock extra_script %}
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src='{% static_version "bundles/init.js" %}'></script>
    </head>
    {% block body_head_tag %}
        <body oncopy="return false;" oncontextmenu="return false;">
    {% endblock %}
        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}
        <div class="container">
            <div class="row">
              {% block second_menu %}{% endblock %}
            </div>
            <div class="row">
              {% block page_title %}{% endblock %}
            </div>
            <div class="row">
               {% block breadcrumbs %}{% endblock %}
            </div>
            <div class="row">
                {% block base_content_block %}
                    <div class="col-12 col-lg-8">
                        {% block content %}{% endblock content %}
                    </div>
                    <div class="col-lg-4 col-12">
                        {% events_list %}
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- agro_ad -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:600px"
                             data-ad-client="ca-pub-4522526101011449"
                             data-ad-slot="4846518412"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                {% endblock base_content_block %}
            </div>
        </div>

        {% block extra_body %}{% endblock extra_body %}

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-99575306-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- /Google Analytics -->

        <script src='{% static_version "bundles/main.js" %}'></script>
    </body>
</html>