{% extends "base.html" %}

{% load post_extras cache %}

{% block extra_meta %}
    <meta content="Категорії | AgroMega.in.ua" property="og:title">
    <meta content="Список доступних категорій." property="og:description">
    <meta content="" property="og:image">
    <meta content="https://agromega.in.ua/categories/" property="og:url">
    <meta content="AgroMega.in.ua" property="og:site_name">
{% endblock extra_meta %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/categories.css" %}">
{% endblock scripts %}

{% block content %}
    <div class="mb-3">
        {% cache 60 'index_menu' %}
            {% index_categories %}
        {% endcache %}
    </div>
{% endblock %}
