{% extends "base.html" %}

{% load i18n post_extras cache %}

{% block extra_meta %}
    <meta content="{% trans 'Категорії' %} | AgroMega.in.ua" property="og:title">
    <meta content="{% trans 'Список доступних категорій.' %}" property="og:description">
    <meta content="" property="og:image">
    <meta content="https://agromega.in.ua/categories/" property="og:url">
    <meta content="AgroMega.in.ua" property="og:site_name">
{% endblock extra_meta %}

{% block content %}
    <div class="mb-3">
        {% cache 3600 'index_menu' %}
            {% index_categories %}
        {% endcache %}
    </div>
{% endblock %}
