{% load i18n %}

<footer class="navbar navbar-light">
    <p class="navbar-text">© 2019 AgroMega</p>
    <a href="/page/privacy_policy/" class="btn nav-item nav-link"><span class="text-success">{% trans "Політика конфіденційності" %}</span></a>
    <div class="float-lg-right">
        <button id="feedback-btn" type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".feedback-modal">
            {% trans 'Зворотній зв’язок' %}
        </button>
    </div>
</footer>

<div class="modal fade feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div id="feedback-modal" class="modal-content"></div>
    </div>
</div>

