{% load i18n %}

<div class="navbar bg-light fixed-bottom d-md-none p-0 mt-3">
    <div class="text-center col-3 p-1">
        <a class="text-success stretched-link" href="/categories/" style="text-decoration: none;outline: 0;"><span
                class="p"><i class="icon-th-list"></i><br>Публікації</span></a>
    </div>
    <div class="text-center col-3 p-1">
        <a class="text-success stretched-link" href="/news/" style="text-decoration: none;outline: 0;"><span
                class="p"><i class="icon-book"></i><br>Новини</span></a>
    </div>
    <div class="text-center col-3 p-1">
        <a class="text-success stretched-link" href="/adverts/" style="text-decoration: none;outline: 0;"><span
                class="p"><i class="icon-newspaper"></i><br>Оголошення</span></a>
    </div>
    <div class="text-center col-3 p-1">
        {#        <a class="text-success stretched-link" href="/events/" style="text-decoration: none;outline: 0;"><span class="p"><i class="icon-calendar"></i><br>Події</span></a>#}
        <div class="btn-group dropup">
            {# todo: need fix styles in mobile site #}
            <button class="btn btn-link text-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;outline: 0;">
                <span class="p"><i class="icon-ellipsis"></i><br>Інше</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item text-success" href="/events/">Події</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-success" href="/feedback/">Зворотний зв'язок</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/page/privacy_policy/">Конфіденційність</a>
            </div>
        </div>
    </div>
</div>
<footer class="navbar navbar-light d-none d-sm-block">
    <ul class="nav d-flex justify-content-around">
        <li class="nav-item"><p class="text-secondary">© 2019 AgroMega</p></li>
        <li class="nav-item"><a href="/page/privacy_policy/" class="btn">{% trans "Політика конфіденційності" %}</a>
        </li>
    </ul>
</footer>
