<div id="bottom-mobile-menu" class="navbar bg-dark fixed-bottom d-md-none p-0 mt-3">
    <div class="text-center col-2">
        <a class="text-success no-decoration" href="/categories/"><span><i
                class="icon-th-list"></i><br><small>Пости</small></span></a>
    </div>
    <div class="text-center col-2">
        <a class="text-success no-decoration" href="/news/"><span><i
                class="icon-book"></i><br><small>Новини</small></span></a>
    </div>
    <div class="text-center col-2">
        <a class="text-success no-decoration" href="/search/"><span class="h3"><i
                class="icon-search"></i><br><small> </small></span></a>
    </div>
    <div class="text-center col-2">
        <a class="text-success no-decoration" href="/adverts/"><span class="text-center"><i
                class="icon-newspaper"></i><br><small>Купити</small></span></a>
    </div>
    <div class="d-flex justify-content-center col-2">
        <div class="btn-group dropup">
            <button class="btn btn-link text-success no-decoration" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span><i class="icon-ellipsis"></i><br><small>Більше</small></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end bg-secondary">
                <a class="dropdown-item text-success" href="/"><i class="icon-home"></i> Головна</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-success" href="/events/">Події</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-success" href="/feedback/">Зворотний зв'язок</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-success" href="/events/create/"><i class="icon-plus"></i> Додати подію</a>
                <a class="dropdown-item text-success" href="/publication/create/"><i class="icon-plus"></i> Додати
                    публікацію</a>
                <a class="dropdown-item text-success" href="/adverts/create/"><i class="icon-plus"></i> Додати
                    оголошення</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="/page/about/">Про нас</a>
                <a class="dropdown-item text-white" href="/page/privacy_policy/">Конфіденційність</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper flex-grow-1"></div>
<footer class="page-footer bg-dark d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <p class="font-weight-bold text-uppercase text-secondary mt-3 mb-4 h5">Про нас</p>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="/page/about/" class="no-decoration text-white">Про нас</a></li>
                    <li class="mb-1"><a href="/page/privacy_policy/" class="no-decoration text-white">Політика
                        конфіденційності</a></li>
                    <li class="mb-1"><a href="/feedback/" class="no-decoration text-white">Зворотній зв'язок</a></li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-4 mx-auto">
                <p class="font-weight-bold text-uppercase text-secondary mt-3 mb-4 h5">Почитати</p>
                <ul class="list-unstyled">
                    <li class="mb-1"><a class="no-decoration text-white" href="/categories/">Публікації</a></li>
                    <li class="mb-1"><a class="no-decoration text-white" href="/news/">Новини</a></li>
                    <li class="mb-1"><a class="no-decoration text-white" href="/adverts/">Оголошення</a></li>
                    <li class="mb-1"><a class="no-decoration text-white" href="/events/">Події</a></li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-4 mx-auto">
                <p class="font-weight-bold text-uppercase text-secondary mt-3 mb-4 h5">Соцмережі</p>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/agromega.in.ua/" class="h5 text-primary" target="_blank"
                           rel="noopener" aria-label="наша facebook сторінка"><i class="icon-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="footer-copyright text-center text-success py-3 d-none d-sm-block">
    © 2023 AgroMega
</div>
