{% load static i18n cache %}
{% load post_extras %}
<!-- Site header -->

<header class="navbar navbar-green navbar-expand-lg">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-menu-collapse" aria-controls="main-menu-collapse" aria-expanded="false" aria-label="Site navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu-collapse">
              <a class="navbar-brand" href="/">
                AgroMega
              </a>
              <ul class="navbar-nav">
                {% cache 3600 'main_menu' %}
                    {% main_menu %}
                {% endcache %}
              </ul>
        </div>
        <div class="navbar-nav d-inline-flex flex-row auth-block">
            {% if user.is_authenticated %}
                <div class="nav-item m-1">
                  <button onclick="location.href='{{ user.get_absolute_url }}'" class="btn btn-outline-success" title="{% trans 'Особистий кабінет' %}">
                    <i class="fa fa-user-circle fa-lg"></i>
                  </button>
                </div>
                <div class="nav-item m-1">
                  <button onclick="location.href='/logout/'" class="btn btn-outline-danger" title="{% trans 'Вийти' %}">
                     <i class="fa fa-sign-out fa-lg"></i>
                  </button>
                </div>
            {% else %}
                 <div class="nav-item m-1">
                   <button id="login-btn" type="button" class="btn btn-outline-success"
                      data-toggle="modal" data-target=".login-modal-lg" title="{% trans 'Увійти' %}">
                     <i class="fa fa-sign-in fa-lg"></i>
                   </button>
                 </div>
            {% endif %}
        </div>
    </div>
</header>

<div class="modal fade login-modal-lg" tabindex="-1" role="dialog" aria-labelledby="LoginLabel">
    <div class="modal-dialog">
        <div id="login-modal" class="modal-content"></div>
    </div>
</div>
<div class="modal fade register-modal-lg" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel">
    <div class="modal-dialog">
        <div id="register-modal" class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').popover();
    });
</script>