{% extends "base.html" %}

{% load post_extras events_extras cache static %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/index.css" %}">
{% endblock scripts %}

{% block main %}
    {#    <!-- Hero Area Start -->#}
    <div id="hero-area">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 text-center">
                    <div class="contents">
                        <h1 class="head-title">Вітаємо Вас на <span class="year">AgroMega</span></h1>
                        <p>Ми проект який забезпечує інформаційну підтримку агробізнесу. Ви отримаєте інформацію від
                            публікацій до подій та багато корисного.
                            Ви стимулюєте нас розвиватись тому вже скоро багато нового.</p>
                        <div class="search-bar">
                            <fieldset>
                                <form class="search-form" action="/search/" method="get">
                                    <div class="form-group">
                                        <input type="text" name="q" class="form-control"
                                               placeholder="Пошук">
                                    </div>
                                    <button class="btn btn-common btn-success" type="submit" title="Search"><i class="icon-search"></i>
                                    </button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <!-- Hero Area End -->#}
    {#    <!-- Events Section Start -->#}
    {% if events %}
        <section class="trending-cat section-padding">
            <div class="container">
                <h2 class="section-title">Найближчі події</h2>
                <div class="row">
                    {% for event in events %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="{{ event.get_absolute_url }}">
                                <div class="box">
                                    <div class="icon">
                                        <img class="img-fluid" src="{% thumbnail event 350 280 %}"
                                             alt="{{ event.title }}">
                                    </div>
                                    <h4>{{ event.title }}</h4>
                                    <strong>{{ event.start|date:"d E Y  H:i" }}</strong>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {#    <!-- Events Section End -->#}
    {#    <!-- Trending Categories Section Start -->#}
    <section class="trending-cat section-padding">
        <div class="container">
            <h2 class="section-title">Популярні категорії</h2>
            <div class="row">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="{{ category.slug }}">
                            <div class="box">
                                <div class="icon">
                                    {% if category.image %}
                                        <img class="img-fluid" src="{{ category.image.url }}"
                                             alt="{{ category.value }} фото">
                                    {% endif %}
                                </div>
                                <p class="h4">{{ category.value }}</p>
                                {#                                <strong>189 Ads</strong>#}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {#    <!-- Trending Categories Section End -->#}

    {#    <!-- Services Section Start -->#}
    <section class="services section-padding">
        <div class="container">
            <h2 class="section-title">Продукти</h2>
            <div class="row">
                {#          <!-- Services item -->#}
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon">
                            <i class="lni-book"></i>
                        </div>
                        <div class="services-content">
                            <p class="h3"><a href="/categories/">Публікації</a></p>
                            <p>Публікації у всіх аграрних категоріях. Про рослин тварин та інших улюбленцях та їх
                                доглядом можна прочитавши обравши категорію.</p>
                        </div>
                    </div>
                </div>
                {#          <!-- Services item -->#}
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
                        <div class="icon">
                            <i class="lni-leaf"></i>
                        </div>
                        <div class="services-content">
                            <p class="h3"><a href="/events/">Події</a></p>
                            <p>Список найближчих агроподій щоб Ви не пропустили нічого важливого. Також Ви зможете
                                підписатись на отримання нових та найближчих подій у Telegram.</p>
                        </div>
                    </div>
                </div>
                {#          <!-- Services item -->#}
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="lni-cog"></i>
                        </div>
                        <div class="services-content">
                            <p class="h3"><a href="/news/">Новини</a></p>
                            <p>Будьте в курсі останніх новини з нашим Telegram ботом або ж просто зайшовши на сайт Ви
                                зможете ознайомитись з агротрендами.</p>
                        </div>
                    </div>
                </div>
                {#          <!-- Services item -->#}
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
                        <div class="icon">
                            <i class="lni-spray"></i>
                        </div>
                        <div class="services-content">
                            <p class="h3"><a href="/adverts/">Оголошення</a></p>
                            <p>Ми збираємо оголошення для того щоб Вам було зручно шукати потрібні. Ми не збираємо
                                контактів користувачів, лише інформативні дані.</p>
                        </div>
                    </div>
                </div>
                {#           <!-- Services item -->#}
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="1s">
                        <div class="icon">
                            <i class="lni-emoji-smile"></i>
                        </div>
                        <div class="services-content">
                            <p class="h3"><a href="/companies/">Компанії</a></p>
                            <p>Відкрийте для себе широкий спектр компаній у нашому каталозі, кожна з яких пропонує унікальні продукти та послуги, розроблені для задоволення різноманітних потреб наших клієнтів.</p>
                        </div>
                    </div>
                </div>
                {#           <!-- Services item -->#}
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="services-item wow fadeInRight" data-wow-delay="1s">
                        <div class="icon">
                            <i class="lni-emoji-smile"></i>
                        </div>
                        <div class="services-content">
                            <p class="h3"><a href="https://telegram.me/wn_world_news_bot?start=1" rel="noreferrer"
                                   target="_blank">Telegram</a></p>
                            <p>Наш телеграм бот завжди триматиме вас у курсі найсвіжіших новин. Скоро буде підтримка
                                фільтрування по категоріях та підтримка оголошень.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <!-- Services Section End -->#}
    <section class="trending-cat section-padding">
        <div class="container">
            <h2 class="section-title">Нещодавно додане:</h2>
            <div class="row">
                {% for post in object_list %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="{{ post.get_absolute_url }}">
                            <div class="box">
                                <div class="icon">
                                    {% if post.photo.first %}
                                        <img class="img-fluid" src="{% thumbnail post.photo.first 350 %}"
                                             alt="{{ post.rubric.value }} {{ post.title }}">
                                    {% endif %}
                                </div>
                                <p class="h4">{{ post.title }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="trending-cat section-padding">
        <div class="container">
            <h2 class="section-title">Цікавинки на Додачу:</h2>
            <div class="row">
                {% for post in random_posts %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="{{ post.get_absolute_url }}">
                            <div class="box">
                                <div class="icon">
                                    {% if post.photo.first %}
                                        <img class="img-fluid" src="{% thumbnail post.photo.first 350 %}"
                                             alt="{{ post.rubric.value }} {{ post.title }}">
                                    {% endif %}
                                </div>
                                <p class="h4">{{ post.title }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="trending-cat section-padding">
        <div class="container">
            <h2 class="section-title">Oголошення:</h2>
            <div class="row">
                {% for advert in random_adverts %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="{{ advert.get_absolute_url }}">
                            <div class="box">
                                <div class="icon">
                                    {% if advert.image.path %}
                                        <img class="img-fluid" src="{{ advert.image.path }}"
                                             alt="{{ advert.title }}">
                                    {% endif %}
                                </div>
                                <p class="h4">{{ advert.title }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
