<div class="dropdown-menu dropdown-menu-end">
    <a class="dropdown-item text-success" href="{% url 'index' %}"><i class="icon-home"></i> Головна</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-success"
       href="{% url 'events:event-list' %}">Події</a>
    <a class="dropdown-item text-success" href="{% url 'companies:list' %}">Компанії</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-success"
       href="{% url 'pro_auth:profile-adverts' %}">Мої
    оголошення</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-success"
       href="{% url 'django.contrib.flatpages.views.flatpage' 'about/' %}">Про нас</a>
    <a class="dropdown-item text-success"
       href="{% url 'django.contrib.flatpages.views.flatpage' 'privacy_policy/' %}">Конфіденційність</a>
    <a class="dropdown-item text-success" href="{% url 'feedback-form' %}">Контакти</a>
    <div class="dropdown-divider"></div>
    <a href="https://www.facebook.com/agromega.in.ua/"
       class="dropdown-item h5 text-primary"
       target="_blank"
       rel="noopener"
       aria-label="наша facebook сторінка"><i class="icon-facebook"></i></a>
    <div class="dropdown-divider"></div>
    <div class="dropdown-item">
        <div class="row justify-content-between">
            <div class="col">
                <a class="text-success no-decoration"
                   href="{% url 'pro_auth:dashboard' %}">Профіль</a>
            </div>
            <div class="col">
                <a class="text-warning"
                   href="{% url 'pro_auth:change-profile' %}"
                   title="Налаштування"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col">
                <a class="text-danger no-decoration"
                   href="{% url 'pro_auth:logout' %}"
                   title="Вийти">Вийти</a>
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <p class="dropdown-item text-secondary">
        <small>© 2016 - 2024 AgroMega.In.Ua</small>
    </p>
</div>
