{% extends "base.html" %}

{% load post_extras %}

{% block scripts %}
    <script src="{% static_version "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static_version "posts/main.css" %}">
{% endblock scripts %}

{% block extra_meta %}
    <meta content="{{ flatpage.title }} | AgroMega.in.ua" property="og:title">
    <meta content="{{ flatpage.content|truncatechars:300|striptags|safe }}" property="og:description">
    <meta content="{{ request.path }}" property="og:url">
    <meta content="AgroMega.in.ua" property="og:site_name">
{% endblock extra_meta %}


{% block page_title %}{{ flatpage.title }}{% endblock %}

{% block content %}{{ flatpage.content }}{% endblock %}
