{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div id="check-password-form" class="text-center">
        <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <p class="text-center text-justify text-danger">{{error}}</p>
            {% endfor %}
            {% for field in form %}
                <div class="form-group">
                    <p class="text-center">{{ field.label }}</p>
                    {% for error in field.errors %}
                        <p class="text-center text-danger">{{error}}</p>
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" id="password-change-btn">{% trans 'Змінити пароль' %}</button>
        </form>
    </div>
{% endblock %}
