{% extends "base.html" %}
{% load i18n %}

{% block base_content_block %}
    <div class="jumbotron">
    <form method="post" action="/login/">
        {% csrf_token %}
        <div class="col-md-12 text-center">
            {% for error in form.non_field_errors %}
                <p class="text-justify bg-danger">{{error}}</p>
            {% endfor %}
            {% for field in form %}
                <div class="form-group">
                    <p>{{ field.label }}</p>
                    {% for error in field.errors %}
                        <p class="text-left text-danger">{{error}}</p>
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <!-- <a href="" >{% trans 'Забули пароль?' %}</a> -->
            </div>
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-primary">{% trans 'Відправити' %}</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}