{% load i18n %}

<form method="post">
    {% csrf_token %}
    <div class="modal-header">
        {% block auth_buttons %}
            <div class="col-md-9">
                <p class="h4">{% trans 'Увійдіть на сайт, відчуйте перевагу зареєстрованих користувачів!' %}</p>
            </div>
            <a href="#" class="text-danger pull-right" data-dismiss="modal"><i class="fa fa-times-circle"></i></a>
        {% endblock %}
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-6 col-sm-12">
        {% for error in form.non_field_errors %}
            <p class="text-justify bg-danger">{{error}}</p>
        {% endfor %}
        {% for field in form %}
            <div class="form-group">
                <p>{{ field.label }}</p>
                {% for error in field.errors %}
                    <p class="text-left text-danger">{{error}}</p>
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}
                <a id="confirm-email-btn" href="" class="pull-left clearfix">{% trans 'Забули пароль?' %}</a>
                <button type="submit" class="btn btn-success pull-right" id="login-conf-btn">{% trans 'Увійти' %}</button>
        </div>
        <br>
        <br>
        <div class="col-md-6 col-sm-12">
                <span class="h5">{% trans 'Увійти через соцмережу' %}</span>
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <a href="{% url 'social:begin' 'vk-oauth2' %}"><i class="fa fa-vk fa-2x"></i></a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook fa-2x"></i></a>
                        </li>
                        </ul>
            <a href="{% url 'pro_auth:register' %}" class="btn btn-success text-center">{% trans "Зареєструватись" %}</a>
        </div>
    </div>
</form>
