{% load i18n %}

<form method="post">
    {% csrf_token %}
    <div class="modal-header">
        {% block auth_buttons %}
            <div class="col-lg-9 col-9">
                <p class="h6 text-success">{% trans 'Увійдіть на сайт, відчуйте перевагу зареєстрованих користувачів!' %}</p>
            </div>
            <a href="#" class="text-danger pull-right" data-dismiss="modal"><i class="fa fa-times-circle fa-2x"></i></a>
        {% endblock %}
    </div>
    <div class="modal-body clearfix">
        <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google fa-3x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook fa-3x"></i></a>
                </li>
            </ul>
        </div>
            </div>
    </div>
</form>
