{% load i18n %}

<form method="post">
    {% csrf_token %}
    <div class="modal-header">
        {% block auth_buttons %}
            <div class="col-lg-9 col-9">
                <p class="h6 text-success">{% trans 'Увійдіть на сайт, відчуйте перевагу зареєстрованих користувачів!' %}</p>
            </div>
            <a href="#" class="text-danger pull-right" data-dismiss="modal"><i class="fa fa-times-circle fa-2x"></i></a>
        {% endblock %}
    </div>
    <div class="modal-body clearfix">
        <div class="row">
        <div class="col-lg-6 col-12">
        {% for error in form.non_field_errors %}
            <small class="text-justify text-danger">{{error}}</small>
        {% endfor %}
        {% for field in form %}
            <div class="form-group">
                <p>{{ field.label }}</p>
                {% for error in field.errors %}
                    <small class="text-left text-danger">{{error}}</small>
                {% endfor %}
                {{ field }}
            </div>
        {% endfor %}
                <a id="confirm-email-btn" href="" class="pull-left clearfix">{% trans 'Забули пароль?' %}</a>
                <button type="submit" class="btn btn-success pull-right" id="login-conf-btn">{% trans 'Увійти' %}</button>
        </div>
        <br>
        <br>
        <div class="col-lg-6 col-12">
                <span class="h6">{% trans 'Увійти через соцмережу' %}</span>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook fa-2x"></i></a>
                        </li>
                        </ul>
            <a href="{% url 'pro_auth:register' %}" class="btn btn-success text-center">{% trans "Зареєструватись" %}</a>
        </div>
            </div>
    </div>
</form>
