{% extends "base.html" %}
{% load post_extras static %}
{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/add.css" %}">
{% endblock scripts %}
{% block title %}
    Увійти в обліковий запис
{% endblock title %}
{% block meta_description %}
    Здійсніть вхід до системи, щоб отримати доступ до персоналізованого досвіду
    користувача.
{% endblock meta_description %}
{% block extra_meta %}
    <meta name="robots" content="noindex">
{% endblock extra_meta %}
{% block canonical %}
    {% if request.GET %}<link rel="canonical" href="https://agromega.in.ua{{ request.path }}" />{% endif %}
{% endblock canonical %}
{% block base_content_block %}
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="card shadow-sm m-3">
            <div class="card-body">
                <h1 class="card-title text-success text-center h3">Увійти в обліковий запис</h1>
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="btn btn-danger btn-lg m-2"
                           href="{% url 'social:begin' 'google-oauth2' %}"
                           rel="nofollow">
                            <i class="icon-google"></i> Google
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg m-2"
                           href="{% url 'social:begin' 'facebook' %}"
                           rel="nofollow">
                            <i class="icon-facebook"></i> Facebook
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock base_content_block %}
