{% extends "base.html" %}
{% load i18n %}

{% block base_content_block %}
    {% block help_text %}{% endblock %}
    <form method="post" action="{% block action_block %}{{ view.request.path }}{% endblock %}">
        {% csrf_token %}
        <div class="col-md-6">
            {% for error in form.non_field_errors %}
                <p class="text-justify bg-danger">{{error}}</p>
            {% endfor %}
            {% for field in form %}
                <div class="form-group">
                    <p class="text-left">{{ field.label }}</p>
                    {% for error in field.errors %}
                        <p class="text-danger">{{error}}</p>
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{% trans 'Відправити' %}</button>
            </div>
        </div>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        {{ form.media }}
    </form>
{% endblock %}