{% extends "base.html" %}
{% load i18n %}

{% block base_content_block %}
    {% block help_text %}{% endblock %}
  <div class="col-lg-6 col-6 mx-auto">
    <form method="post" action="{% block action_block %}{{ view.request.path }}{% endblock %}">
        {% csrf_token %}
            {% for error in form.non_field_errors %}
                <p class="text-justify text-danger">{{error}}</p>
            {% endfor %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {% for error in field.errors %}
                        <p class="form-text text-danger">{{error}}</p>
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{% trans 'Зареєструватись' %}</button>
            </div>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        {{ form.media }}
    </form>
  </div>
{% endblock %}