{% extends "base.html" %}

{% load static_push cache post_extras comment_tags static %}

{% block title %}{{ object.title }}{% endblock title %}

{% block meta_description %}{{ object.description|striptags|truncatechars:160 }}{% endblock %}

{% block scripts %}
    <script src="{% static "posts/j-detail.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/detail.css" %}">
{% endblock %}

{% block extra_meta %}
    <meta content="{% if object.meta %}{{ object.meta.title }}
{% else %}{{ object.title }} | {{ category.value }}{% endif %} | AgroMega.in.ua" property="og:title">
    <meta content="{{ object.description|striptags|truncatechars:160 }}"
          property="og:description">
    <meta content="{% full_url advert.image.url %}" property="og:image">
    <meta content="{% full_url object.get_absolute_url %}" property="og:url">
    <meta content="article" property="og:type">
    <meta content="AgroMega.in.ua" property="og:site_name">

    <meta content="{{ object.title }} | AgroMega.in.ua" property="twitter:title">
    <meta content="{{ object.description|striptags|truncatechars:160 }}"
          property="twitter:description">
    <meta content="{% full_url advert.image.url %}" property="twitter:image">
    <meta content="{{ object.title }}" property="twitter:image:alt">
    <meta content="summary_large_image" property="twitter:card">
    <meta content="@AgroMega.in.ua" property="twitter:site">
    <meta content="@AgroMegaTeam" property="twitter:creator">
    <link href="{% full_url advert.image.url %}" rel="image_src"/>
{% endblock extra_meta %}


{% block page_title %}{{ object.title }}{% endblock %}


{% block content %}
    <div class="post-content">
        <div class="row">
            <div class="col-12 p-0">
                <div class="card">
                <img src="{{ advert.image.path }}"
                     alt="{{ advert.title }}"
                     width="1000" height="500" class="card-img img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div class="m-3 post-wrapper">
                    {{ object.description|safe }}
                    {% if advert.author %}
                        <div class="card-text mb-1"><strong>Автор: {{ advert.author }}</strong></div>
                    {% endif %}
                    <div class="card-text mb-1"><strong>Контакти: {{ advert.contact }}</strong></div>
                    {% if advert.location %}
                        <div class="card-text mb-1"><strong>Локація: {{ advert.location }}</strong></div>
                    {% endif %}
                    <div class="card-text mb-1"><strong>Оновлено: {{ object.updated|date:"d b Y" }}</strong></div>
                </div>
                <div class="col-12 d-flex justify-content-between p-3">
                    {#                                    <span class="text-success h5"><i class="icon-eye"></i> {{ object.hits }}</span>#}
                    <a class="h5 text-primary" tabindex="-1" target="Share-in-facebook"
                       onclick="window.open(this.href, 'Share-in-facebook' , 'width=400, height=400'); return false;"
                       href="https://www.facebook.com/sharer/sharer.php?u={% full_url object.get_absolute_url %}"
                       aria-label="Опублікувати у фейсбук">
                        <i class="icon-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        {% random_adverts %}
    </div>
    <div class="col-12">
        {% random_posts %}
    </div>
{% endblock content %}