{% extends "base.html" %}

{% load post_extras static %}

{% block scripts %}
    <script src="{% static "posts/j-index.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/list.css" %}">
{% endblock scripts %}

{% block title %}Аграрні оголошення України |{% endblock %}
{% block meta_description %}
    Оголошення аграрної сфери від бізнесу та приватних осіб. Оголошення з усіх куточків України. Додати, подивитись
    оголошення ви можете на нашому сайті{% endblock %}

{% block extra_meta %}
    {% if paginator.num_pages > 1 %}
        <meta name="robots" content="noindex, follow">
    {% endif %}
{% endblock extra_meta %}

{% block page_title %}Оголошення{% endblock %}
{% block page_title_right %}
    <a href="/adverts/create/" class="btn btn-success btn-sm"><i class="icon-plus"></i> Оголошення</a>{% endblock %}

{% block content %}
    {% include "adverts/helpers/object_list.html" %}

    {% include "helpers/pagination.html" %}
{% endblock content %}
