{% extends "base.html" %}
{% load static post_extras %}

{% block title %}{{ company.name }}{% endblock %}

{% block scripts %}
    <script src="{% static "posts/j-detail.js" %}"></script>
    <link rel="stylesheet" href="{% static "posts/detail.css" %}">
{% endblock %}

{% block content %}
    <h1>{{ company.name }}</h1>
    <div class="post-content">
        <div class="row">
            <div class="col-12 p-0">
                {% if company.logo %}
                    <div class="card">
                        <img src="{{ company.logo.url }}" alt="{{ company.name }} logo" class="card-img img-fluid"
                             height="500" width="1000"/>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <p>{{ company.description }}</p>
            {% if company.website %}
                <p>Вебсайт: <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></p>
            {% endif %}
        </div>
        <div class="col-12 mb-3">
            <h2 class="h4 mb-3">Пропозиції</h2>
            <div class="row">
                {% for product in products %}
                    <div class="col-4 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">{{ product.name }}</p>
                                {% if product.description %}
                                    <p class="card-text">{{ product.description }}</p>
                                {% endif %}
                                {% if product.price %}
                                    <p class="card-subtitle mb-1 text-muted">{{ product.price }} {{ product.get_currency_display }}</p>
                                {% endif %}
                                {% if product.post_id %}
                                    <a href="{{ product.post.get_absolute_url }}"
                                       class="card-link text-success no-decoration">Опис</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Поки немає пропозицій.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12">
        {% post_adverts %}
        {% random_posts %}
    </div>
{% endblock %}
