{% if products %}
    <section class="site-content-section">
        <h2 class="site-content-section__title">Пов'язані товари</h2>
        <div class="row mb-3">
            {% for product in products %}
                <div class="col-4 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">{{ product.name }}</p>
                            {% if product.has_fresh_price %}
                                <p class="card-subtitle mb-2 text-muted">{{ product.price }} {{ product.get_currency_display }}</p>
                            {% endif %}
                            <a href="{{ product.company.get_absolute_url }}"
                               class="card-link text-success no-decoration">{{ product.company.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
